In [10]:
from matminer.datasets import load_dataset
from matminer.featurizers.composition import ElementProperty
from pymatgen.core import Composition
import matminer.datasets

- effective mass ('boltztrap_mp')
- band gap ('expt_gap')
- refractive index ('matbench_dielectric')

In [52]:
datasets = matminer.datasets.get_available_datasets()

boltztrap_mp: Effective mass and thermoelectric properties of 8924 compounds in The  Materials Project database that are calculated by the BoltzTraP software package run on the GGA-PBE or GGA+U density functional theory calculation results. The properties are reported at the temperature of 300 Kelvin and the carrier concentration of 1e18 1/cm3.

brgoch_superhard_training: 2574 materials used for training regressors that predict shear and bulk modulus.

castelli_perovskites: 18,928 perovskites generated with ABX combinatorics, calculating gllbsc band gap and pbe structure, and also reporting absolute band edge positions and heat of formation.

citrine_thermal_conductivity: Thermal conductivity of 872 compounds measured experimentally and retrieved from Citrine database from various references. The reported values are measured at various temperatures of which 295 are at room temperature.

dielectric_constant: 1,056 structures with dielectric properties, calculated with DFPT-PBE.

double_perovskites_gap: Band gap of 1306 double perovskites (a_1-b_1-a_2-b_2-O6) calculated using ﻿Gritsenko, van Leeuwen, van Lenthe and Baerends potential (gllbsc) in GPAW.

double_perovskites_gap_lumo: Supplementary lumo data of 55 atoms for the double_perovskites_gap dataset.

elastic_tensor_2015: 1,181 structures with elastic properties calculated with DFT-PBE.

expt_formation_enthalpy: Experimental formation enthalpies for inorganic compounds, collected from years of calorimetric experiments. There are 1,276 entries in this dataset, mostly binary compounds. Matching mpids or oqmdids as well as the DFT-computed formation energies are also added (if any).

expt_formation_enthalpy_kingsbury: Dataset containing experimental standard formation enthalpies for solids. Formation enthalpies were compiled primarily from Kim et al., Kubaschewski, and the NIST JANAF tables (see references). Elements, liquids, and gases were excluded. Data were deduplicated such that each material is associated with a single formation enthalpy value. Refer to Wang et al. (see references) for a complete desciption of the methods used. Materials Project database IDs (mp-ids) were assigned to materials from among computed materials in the Materials Project database (version 2021.03.22) that were 1) not marked 'theoretical', 2) had structures matching at least one ICSD material, and 3) were within 200 meV of the DFT-computed stable energy hull (e_above_hull < 0.2 eV). Among these candidates, we chose the mp-id with the lowest e_above_hull that matched the reported spacegroup (where available).

expt_gap: Experimental band gap of 6354 inorganic semiconductors.

expt_gap_kingsbury: Identical to the matbench_expt_gap dataset, except that Materials Project database IDs (mp-ids) have been associated with each material using the same method as described for the expt_formation_enthalpy_kingsbury dataset. Columns have also been renamed for consistency with the formation enthalpy data.

flla: 3938 structures and computed formation energies from "Crystal Structure Representations for Machine Learning Models of Formation Energies."

glass_binary: Metallic glass formation data for binary alloys, collected from various experimental techniques such as melt-spinning or mechanical alloying. This dataset covers all compositions with an interval of 5 at. % in 59 binary systems, containing a total of 5959 alloys in the dataset. The target property of this dataset is the glass forming ability (GFA), i.e. whether the composition can form monolithic glass or not, which is either 1 for glass forming or 0 for non-full glass forming.

glass_binary_v2: Identical to glass_binary dataset, but with duplicate entries merged. If there was a disagreement in gfa when merging the class was defaulted to 1.

glass_ternary_hipt: Metallic glass formation dataset for ternary alloys, collected from the high-throughput sputtering experiments measuring whether it is possible to form a glass using sputtering. The hipt experimental data are of the Co-Fe-Zr, Co-Ti-Zr, Co-V-Zr and Fe-Ti-Nb ternary systems.

glass_ternary_landolt: Metallic glass formation dataset for ternary alloys, collected from the "Nonequilibrium Phase Diagrams of Ternary Amorphous Alloys,’ a volume of the Landolt– Börnstein collection. This dataset contains experimental measurements of whether it is possible to form a glass using a variety of processing techniques at thousands of compositions from hundreds of ternary systems. The processing techniques are designated in the "processing" column. There are originally 7191 experiments in this dataset, will be reduced to 6203 after deduplicated, and will be further reduced to 6118 if combining multiple data for one composition. There are originally 6780 melt-spinning experiments in this dataset, will be reduced to 5800 if deduplicated, and will be further reduced to 5736 if combining multiple experimental data for one composition.

heusler_magnetic: 1153 Heusler alloys with DFT-calculated magnetic and electronic properties. The 1153 alloys include 576 full, 449 half and 128 inverse Heusler alloys. The data are extracted and cleaned (including de-duplicating) from Citrine.

jarvis_dft_2d: Various properties of 636 2D materials computed with the OptB88vdW and TBmBJ functionals taken from the JARVIS DFT database.

jarvis_dft_3d: Various properties of 25,923 bulk materials computed with the OptB88vdW and TBmBJ functionals taken from the JARVIS DFT database.

jarvis_ml_dft_training: Various properties of 24,759 bulk and 2D materials computed with the OptB88vdW and TBmBJ functionals taken from the JARVIS DFT database.

m2ax: Elastic properties of 223 stable M2AX compounds from "A comprehensive survey of M2AX phase elastic properties" by Cover et al. Calculations are PAW PW91.

matbench_dielectric: Matbench v0.1 test dataset for predicting refractive index from structure. Adapted from Materials Project database. Removed entries having a formation energy (or energy above the convex hull) more than 150meV and those having refractive indices less than 1 and those containing noble gases. Retrieved April 2, 2019. For benchmarking w/ nested cross validation, the order of the dataset must be identical to the retrieved data; refer to the Automatminer/Matbench publication for more details.

matbench_expt_gap: Matbench v0.1 test dataset for predicting experimental band gap from composition alone. Retrieved from Zhuo et al. supplementary information. Deduplicated according to composition, removing compositions with reported band gaps spanning more than a 0.1eV range; remaining compositions were assigned values based on the closest experimental value to the mean experimental value for that composition among all reports. For benchmarking w/ nested cross validation, the order of the dataset must be identical to the retrieved data; refer to the Automatminer/Matbench publication for more details.

matbench_expt_is_metal: Matbench v0.1 test dataset for classifying metallicity from composition alone. Retrieved from Zhuo et al. supplementary information. Deduplicated according to composition, ensuring no conflicting reports were entered for any compositions (i.e., no reported compositions were both metal and nonmetal). For benchmarking w/ nested cross validation, the order of the dataset must be identical to the retrieved data; refer to the Automatminer/Matbench publication for more details.

matbench_glass: Matbench v0.1 test dataset for predicting full bulk metallic glass formation ability from chemical formula. Retrieved from "Nonequilibrium Phase Diagrams of Ternary Amorphous Alloys,’ a volume of the Landolt– Börnstein collection. Deduplicated according to composition, ensuring no compositions were reported as both GFA and not GFA (i.e., all reports agreed on the classification designation). For benchmarking w/ nested cross validation, the order of the dataset must be identical to the retrieved data; refer to the Automatminer/Matbench publication for more details.

matbench_jdft2d: Matbench v0.1 test dataset for predicting exfoliation energies from crystal structure (computed with the OptB88vdW and TBmBJ functionals). Adapted from the JARVIS DFT database. For benchmarking w/ nested cross validation, the order of the dataset must be identical to the retrieved data; refer to the Automatminer/Matbench publication for more details.

matbench_log_gvrh: Matbench v0.1 test dataset for predicting DFT log10 VRH-average shear modulus from structure. Adapted from Materials Project database. Removed entries having a formation energy (or energy above the convex hull) more than 150meV and those having negative G_Voigt, G_Reuss, G_VRH, K_Voigt, K_Reuss, or K_VRH and those failing G_Reuss <= G_VRH <= G_Voigt or K_Reuss <= K_VRH <= K_Voigt and those containing noble gases. Retrieved April 2, 2019. For benchmarking w/ nested cross validation, the order of the dataset must be identical to the retrieved data; refer to the Automatminer/Matbench publication for more details.

matbench_log_kvrh: Matbench v0.1 test dataset for predicting DFT log10 VRH-average bulk modulus from structure. Adapted from Materials Project database. Removed entries having a formation energy (or energy above the convex hull) more than 150meV and those having negative G_Voigt, G_Reuss, G_VRH, K_Voigt, K_Reuss, or K_VRH and those failing G_Reuss <= G_VRH <= G_Voigt or K_Reuss <= K_VRH <= K_Voigt and those containing noble gases. Retrieved April 2, 2019. For benchmarking w/ nested cross validation, the order of the dataset must be identical to the retrieved data; refer to the Automatminer/Matbench publication for more details.

matbench_mp_e_form: Matbench v0.1 test dataset for predicting DFT formation energy from structure. Adapted from Materials Project database. Removed entries having formation energy more than 2.5eV and those containing noble gases. Retrieved April 2, 2019. For benchmarking w/ nested cross validation, the order of the dataset must be identical to the retrieved data; refer to the Automatminer/Matbench publication for more details.

matbench_mp_gap: Matbench v0.1 test dataset for predicting DFT PBE band gap from structure. Adapted from Materials Project database. Removed entries having a formation energy (or energy above the convex hull) more than 150meV and those containing noble gases. Retrieved April 2, 2019. For benchmarking w/ nested cross validation, the order of the dataset must be identical to the retrieved data; refer to the Automatminer/Matbench publication for more details.

matbench_mp_is_metal: Matbench v0.1 test dataset for predicting DFT metallicity from structure. Adapted from Materials Project database. Removed entries having a formation energy (or energy above the convex hull) more than 150meV and those containing noble gases. Retrieved April 2, 2019. For benchmarking w/ nested cross validation, the order of the dataset must be identical to the retrieved data; refer to the Automatminer/Matbench publication for more details.

matbench_perovskites: Matbench v0.1 test dataset for predicting formation energy from crystal structure. Adapted from an original dataset generated by Castelli et al. For benchmarking w/ nested cross validation, the order of the dataset must be identical to the retrieved data; refer to the Automatminer/Matbench publication for more details.

matbench_phonons: Matbench v0.1 test dataset for predicting vibration properties from crystal structure. Original data retrieved from Petretto et al. Original calculations done via ABINIT in the harmonic approximation based on density functional perturbation theory. Removed entries having a formation energy (or energy above the convex hull) more than 150meV. For benchmarking w/ nested cross validation, the order of the dataset must be identical to the retrieved data; refer to the Automatminer/Matbench publication for more details.

matbench_steels: Matbench v0.1 test dataset for predicting steel yield strengths from chemical composition alone. Retrieved from Citrine informatics. Deduplicated. For benchmarking w/ nested cross validation, the order of the dataset must be identical to the retrieved data; refer to the Automatminer/Matbench publication for more details.

mp_all_20181018: A complete copy of the Materials Project database as of 10/18/2018. mp_all files contain structure data for each material while mp_nostruct does not.

mp_nostruct_20181018: A complete copy of the Materials Project database as of 10/18/2018. mp_all files contain structure data for each material while mp_nostruct does not.

phonon_dielectric_mp: Phonon (lattice/atoms vibrations) and dielectric properties of 1296 compounds computed via ABINIT software package in the harmonic approximation based on density functional perturbation theory.

piezoelectric_tensor: 941 structures with piezoelectric properties, calculated with DFT-PBE.

ricci_boltztrap_mp_tabular: Ab-initio electronic transport database for inorganic materials. Complex multivariable BoltzTraP simulation data is condensed down into tabular form of two main motifs: average eigenvalues at set moderate carrier concentrations and temperatures, and optimal values among all carrier concentrations and temperatures within certain ranges. Here are reported the average of the eigenvalues of conductivity effective mass (mₑᶜᵒⁿᵈ), the Seebeck coefficient (S), the conductivity (σ), the electronic thermal conductivity (κₑ), and the Power Factor (PF) at a doping level of 10¹⁸ cm⁻³ and at a temperature of 300 K for n- and p-type. Also, the maximum values for S, σ, PF, and the minimum value for κₑ chosen among the temperatures [100, 1300] K, the doping levels [10¹⁶, 10²¹] cm⁻³, and doping types are reported. The properties that depend on the relaxation time are reported divided by the constant value 10⁻¹⁴. The average of the eigenvalues for all the properties at all the temperatures, doping levels, and doping types are reported in the tables for each entry. Data is indexed by materials project id (mpid)

steel_strength: 312 steels with experimental yield strength and ultimate tensile strength, extracted and cleaned (including de-duplicating) from Citrine.

superconductivity2018: Dataset of ~16,000 experimental superconductivity records (critical temperatures) from Stanev et al., originally from the Japanese National Institute for Materials Science. Does not include structural data. Includes ~300 measurements from materials found without superconductivity (Tc=0). No modifications were made to the core dataset, aside from basic file type change to json for (un)packaging with matminer. Reproduced under the Creative Commons 4.0 license, which can be found here: http://creativecommons.org/licenses/by/4.0/.

tholander_nitrides: A challenging data set for quantum machine learning containing a diverse set of 12.8k polymorphs in the Zn-Ti-N, Zn-Zr-N and Zn-Hf-N chemical systems. The phase diagrams of the Ti-Zn-N, Zr-Zn-N, and Hf-Zn-N systems are determined using large-scale high-throughput density functional calculations (DFT-GGA) (PBE). In total 12,815 relaxed structures are shared alongside their energy calculated using the VASP DFT code. The High-Throughput Toolkit was used to manage the calculations. Data adapted and deduplicated from the original data on Zenodo at https://zenodo.org/record/5530535#.YjJ3ZhDMJLQ, published under MIT licence. Collated from separate files of chemical systems and deduplicated according to identical structures matching ht_ids. Prepared in collaboration with Rhys Goodall.

ucsb_thermoelectrics: Database of ~1,100 experimental thermoelectric materials from UCSB aggregated from 108 source publications and personal communications. Downloaded from Citrine. Source UCSB webpage is http://www.mrl.ucsb.edu:8080/datamine/thermoelectric.jsp. See reference for more information on original data aggregation. No duplicate entries are present, but each src may result in multiple measurements of the same materials' properties at different temperatures or conditions.

wolverton_oxides: 4,914 perovskite oxides containing composition data, lattice constants, and formation + vacancy formation energies. All perovskites are of the form ABO3. Adapted from a dataset presented by Emery and Wolverton.

## Store data features in a dictionary

In [ ]:

# dataset_columns = {}

# for dataset in datasets:
#     if 'matbench' in dataset or 'mp_all_20181018' in dataset or 'mp_nostruct_20181018' in dataset or 'ricci_boltztrap_mp_tabular' in dataset:
#         continue
#     df = load_dataset(dataset)
#     dataset_columns[dataset] = ', '.join(df.columns)
#     print(f"Dataset: {dataset}")
#     display(df.head(1))

# # Display the resulting dictionary
# print(dataset_columns)

Dataset: boltztrap_mp

,mpid,pf_n,pf_p,s_n,s_p,formula,m_n,m_p,structure
0,mp-10070,0.865,0.0125,-421.0,760.0,BaAg(PO3)3,0.578,72.8,"[[ 0.08245398 10.58009491 11.61923254] O, [3.1..."

Dataset: brgoch_superhard_training

,formula,bulk_modulus,shear_modulus,composition,material_id,structure,brgoch_feats,suspect_value
0,AlPt3,225.230461,91.197748,"(Al, Pt)",mp-188,"[[0. 0. 0.] Al, [0. 1.96140395 1.96140...","{'atomic_number_feat_1': 123.5, 'atomic_number...",False

Dataset: castelli_perovskites

,fermi level,fermi width,e_form,gap is direct,structure,mu_b,formula,vbm,cbm,gap gllbsc
0,0.312138,0.001837,2.16,True,"[[0. 0. 0.] Rh, [1.97726555 1.97726555 1.97726...",0.019745,RhTeN3,6.187694,6.187694,0.0

Dataset: citrine_thermal_conductivity

,formula,k_expt,k-units,k_condition,k_condition_units
0,BeS,157.0,W/m.K,room temperature,"[{'name': 'Temperature', 'scalars': [{'value':..."

Dataset: dielectric_constant

,material_id,formula,nsites,space_group,volume,structure,band_gap,e_electronic,e_total,n,poly_electronic,poly_total,pot_ferroelectric,cif,meta,poscar
0,mp-441,Rb2Te,3,225,159.501208,"[[1.75725875 1.2425695 3.04366125] Rb, [5.271...",1.88,"[[3.44115795, -3.097e-05, -6.276e-05], [-2.837...","[[6.23414745, -0.00035252, -9.796e-05], [-0.00...",1.86,3.44,6.23,False,#\#CIF1.1\n###################################...,{u'incar': u'NELM = 100\nIBRION = 8\nLWAVE = F...,Rb2 Te1\n1.0\n5.271776 0.000000 3.043661\n1.75...

Dataset: double_perovskites_gap

      formula a_1 b_1 a_2 b_2  gap gllbsc
0  AgNbLaAlO6  Ag  Nb  La  Al    4.164543

Dataset: double_perovskites_gap_lumo

  atom      lumo
0   Li -1.091181

Dataset: elastic_tensor_2015

,material_id,formula,nsites,space_group,volume,structure,elastic_anisotropy,G_Reuss,G_VRH,G_Voigt,K_Reuss,K_VRH,K_Voigt,poisson_ratio,compliance_tensor,elastic_tensor,elastic_tensor_original,cif,kpoint_density,poscar
0,mp-10003,Nb4CoSi,12,124,194.419802,"[[0.94814328 2.07280467 2.5112 ] Nb, [5.273...",0.030688,96.844535,97.141604,97.438674,194.267623,194.268884,194.270146,0.285701,"[[0.004385293093993, -0.0016070693558990002, -...","[[311.33514638650246, 144.45092552856926, 126....","[[311.33514638650246, 144.45092552856926, 126....",#\#CIF1.1\n###################################...,7000,Nb8 Co2 Si2\n1.0\n6.221780 0.000000 0.000000\n...

Dataset: expt_formation_enthalpy

,formula,pearson symbol,space group,mpid,oqmdid,e_form expt,e_form mp,e_form oqmd
0,ScAg2,tI6,I4/mmm,mp-1018128,27633.0,-0.2809,-0.302125,-0.307509

Dataset: expt_formation_enthalpy_kingsbury

,formula,expt_form_e,uncertainty,phaseinfo,reference,likely_mpid
0,Ag2CO3,-0.873708,0.004318,cryst,"O. Kubaschewski, C. Alcock, P. Spencer, Materi...",mp-4691

Dataset: expt_gap

        formula  gap expt
0  Hg0.7Cd0.3Te      0.35

Dataset: expt_gap_kingsbury

  likely_mpid  expt_gap   formula
0        None       0.0  Ag(AuS)2

Dataset: flla

,material_id,e_above_hull,formula,nsites,structure,formation_energy,formation_energy_per_atom
0,mp-10,0.107405,{'As': 1.0},2,"[[1.11758409 0.79025129 1.93571242] As, [3.352...",0.21481,0.107405

Dataset: glass_binary

    formula  gfa
0  Al100Ca0    0

Dataset: glass_binary_v2

  formula  gfa
0   Ag100    0

Dataset: glass_ternary_hipt

                            formula  system  processing phase  gfa
0  Co8.040000Fe16.187000Zr75.773000  CoFeZr  sputtering    CR    0

Dataset: glass_ternary_landolt

        formula phase processing  gfa
0  Ag20Al25La55    AM   meltspin    1

Dataset: heusler_magnetic

,formula,heusler type,num_electron,struct type,latt const,tetragonality,e_form,pol fermi,mu_b,mu_b saturation
0,V2ScAl,Full Heusler,16,D022,5.49,1.561,0.046,0.1,0.0002,0.03

Dataset: jarvis_dft_2d

,epsilon_x opt,epsilon_y opt,epsilon_z opt,exfoliation_en,structure,e_form,structure initial,jid,gap tbmbj,epsilon_x tbmbj,epsilon_y tbmbj,epsilon_z tbmbj,mpid,gap opt,composition
0,10.3295,10.3295,7.0367,63.593833,"[[1.49323139 3.32688406 7.26257785] Hf, [3.326...",-0.624,"[[1.49180494 3.32370494 7.25734791] Hf, [3.323...",JVASP-19990,NaN,NaN,NaN,NaN,mp-13963,0.0341,"(Hf, Si, Te)"

Dataset: jarvis_dft_3d

,epsilon_x opt,epsilon_y opt,epsilon_z opt,structure,e_form,shear modulus,structure initial,jid,bulk modulus,gap tbmbj,epsilon_x tbmbj,epsilon_y tbmbj,epsilon_z tbmbj,mpid,gap opt,composition
0,NaN,NaN,NaN,"[[1.40094192 1.40094192 1.40094192] Co, [0. 0....",0.161,71.22,"[[1.4010965 1.4010965 1.4010965] Co, [0. 0. 0....",JVASP-11946,196.2,NaN,NaN,NaN,NaN,mp-1006883,0.0016,"(Co, Ni)"

Dataset: jarvis_ml_dft_training

,e mass_x,e mass_y,e mass_z,epsilon_x opt,epsilon_y opt,epsilon_z opt,e_exfol,e_form,shear modulus,hole mass_x,...,bulk modulus,mu_b,gap tbmbj,epsilon_x tbmbj,epsilon_y tbmbj,epsilon_z tbmbj,mpid,gap opt,structure,composition
0,6.023890e-07,6.023890e-07,6.023890e-07,NaN,NaN,NaN,NaN,0.161,NaN,6.023889e-07,...,NaN,2.278903,NaN,NaN,NaN,NaN,mp-1006883,0.0016,"[[1.40094192 1.40094192 1.40094192] Co, [0. 0....","(Co, Ni)"

Dataset: m2ax

,formula,a,c,d_mx,d_ma,c11,c12,c13,c33,c44,bulk modulus,shear modulus,elastic modulus
0,Sc2AlC,3.297,15.04,1.242,2.517,175,59,33,191,44,88,57,140

Dataset: phonon_dielectric_mp

,mpid,eps_electronic,eps_total,last phdos peak,structure,formula
0,mp-1000,6.311555,12.773454,98.585771,"[[2.8943817 2.04663693 5.01321616] Te, [0. 0....",BaTe

Dataset: piezoelectric_tensor

,material_id,formula,nsites,point_group,space_group,volume,structure,eij_max,v_max,piezoelectric_tensor,cif,meta,poscar
0,mp-22925,AgI,2.0,-43m,216.0,73.219583,"[[0. 0. 0.] Ag, [1.35557475 0.958536 2.34792...",0.091464,"[1.0, 1.0, 1.0]","[[0.0, 0.0, 0.0, -0.15842, 0.0, 0.0], [0.0, 0....",#generated using pymatgen\ndata_AgI\n_symmetry...,"{u'nsites': 2, u'space_group': 216, u'material...",Ag1 I1\n1.0\n4.066724 0.000000 2.347924\n1.355...

Fetching steel_strength.json.gz from https://ndownloader.figshare.com/files/13354691 to /Users/cadenmyers/miniconda3/envs/ml4ms/lib/python3.13/site-packages/matminer/datasets/steel_strength.json.gz

Fetching https://ndownloader.figshare.com/files/13354691 in MB: 0.016384MB [00:00,  7.85MB/s]

Dataset: steel_strength

,formula,c,mn,si,cr,ni,mo,v,n,nb,co,w,al,ti,yield strength,tensile strength,elongation
0,Fe0.620C0.000953Mn0.000521Si0.00102Cr0.000110N...,0.02,0.05,0.05,0.01,19.7,2.95,0.01,0.0,0.01,15.0,0.0,0.15,1.55,2411.5,2473.5,7.0

Dataset: superconductivity2018

       composition    Tc
0  Ba0.4K0.6Fe2As2  31.2

Fetching tholander_nitrides.json.gz from https://figshare.com/ndownloader/files/34423997 to /Users/cadenmyers/miniconda3/envs/ml4ms/lib/python3.13/site-packages/matminer/datasets/tholander_nitrides.json.gz

Fetching https://figshare.com/ndownloader/files/34423997 in MB: 20.252672MB [00:00, 221.18MB/s]

Dataset: tholander_nitrides

,material_id,ht_id,initial_structure,final_structure,E_vasp_per_atom,chemical_system
0,TAATA_Zn-Hf-N_1,0019407b910a29730999dab65491b4e50624c219,"[[1.69598933 2.9375397 0.48822704] Hf, [ 3.39...","[[1.79022665 3.10076303 0.71219502] Hf, [ 3.58...",-6.057485,Hf-N-Zn

Fetching ucsb_thermoelectrics.json.gz from https://ndownloader.figshare.com/files/28333845 to /Users/cadenmyers/miniconda3/envs/ml4ms/lib/python3.13/site-packages/matminer/datasets/ucsb_thermoelectrics.json.gz

Fetching https://ndownloader.figshare.com/files/28333845 in MB: 0.045056MB [00:00, 23.85MB/s]

Dataset: ucsb_thermoelectrics

,composition,crystallinity,synthesis,spacegroup,rho (ohm.cm),S [muV/K],PF [W/mK^2],zT,kappa [W/mK],sigma [S/cm],T [K],src
1,Ti0.99Nb0.01NiSn,Polycrystalline,"Arc-melted, vacuum",216.0,0.00124,-192.458,0.002987,0.203822,5.8617,806.39,400.0,http://dx.doi.org/10.1016/j.jallcom.2008.02.041

Fetching wolverton_oxides.json.gz from https://ndownloader.figshare.com/files/13354616 to /Users/cadenmyers/miniconda3/envs/ml4ms/lib/python3.13/site-packages/matminer/datasets/wolverton_oxides.json.gz

Fetching https://ndownloader.figshare.com/files/13354616 in MB: 0.16383999999999999MB [00:00, 73.91MB/s]

Dataset: wolverton_oxides

,formula,atom a,atom b,lowest distortion,e_form,e_hull,mu_b,vpa,gap pbe,a,b,c,alpha,beta,gamma,e_form oxygen
0,Ac2O3,Ac,Ac,cubic,-2.732,0.848,0,20.836,0.332,4.705,4.705,4.705,90,90,90,3.15

{'boltztrap_mp': 'mpid, pf_n, pf_p, s_n, s_p, formula, m_n, m_p, structure', 'brgoch_superhard_training': 'formula, bulk_modulus, shear_modulus, composition, material_id, structure, brgoch_feats, suspect_value', 'castelli_perovskites': 'fermi level, fermi width, e_form, gap is direct, structure, mu_b, formula, vbm, cbm, gap gllbsc', 'citrine_thermal_conductivity': 'formula, k_expt, k-units, k_condition, k_condition_units', 'dielectric_constant': 'material_id, formula, nsites, space_group, volume, structure, band_gap, e_electronic, e_total, n, poly_electronic, poly_total, pot_ferroelectric, cif, meta, poscar', 'double_perovskites_gap': 'formula, a_1, b_1, a_2, b_2, gap gllbsc', 'double_perovskites_gap_lumo': 'atom, lumo', 'elastic_tensor_2015': 'material_id, formula, nsites, space_group, volume, structure, elastic_anisotropy, G_Reuss, G_VRH, G_Voigt, K_Reuss, K_VRH, K_Voigt, poisson_ratio, compliance_tensor, elastic_tensor, elastic_tensor_original, cif, kpoint_density, poscar', 'expt_formation_enthalpy': 'formula, pearson symbol, space group, mpid, oqmdid, e_form expt, e_form mp, e_form oqmd', 'expt_formation_enthalpy_kingsbury': 'formula, expt_form_e, uncertainty, phaseinfo, reference, likely_mpid', 'expt_gap': 'formula, gap expt', 'expt_gap_kingsbury': 'likely_mpid, expt_gap, formula', 'flla': 'material_id, e_above_hull, formula, nsites, structure, formation_energy, formation_energy_per_atom', 'glass_binary': 'formula, gfa', 'glass_binary_v2': 'formula, gfa', 'glass_ternary_hipt': 'formula, system, processing, phase, gfa', 'glass_ternary_landolt': 'formula, phase, processing, gfa', 'heusler_magnetic': 'formula, heusler type, num_electron, struct type, latt const, tetragonality, e_form, pol fermi, mu_b, mu_b saturation', 'jarvis_dft_2d': 'epsilon_x opt, epsilon_y opt, epsilon_z opt, exfoliation_en, structure, e_form, structure initial, jid, gap tbmbj, epsilon_x tbmbj, epsilon_y tbmbj, epsilon_z tbmbj, mpid, gap opt, composition', 'jarvis_dft_3d': 'epsilon_x opt, epsilon_y opt, epsilon_z opt, structure, e_form, shear modulus, structure initial, jid, bulk modulus, gap tbmbj, epsilon_x tbmbj, epsilon_y tbmbj, epsilon_z tbmbj, mpid, gap opt, composition', 'jarvis_ml_dft_training': 'e mass_x, e mass_y, e mass_z, epsilon_x opt, epsilon_y opt, epsilon_z opt, e_exfol, e_form, shear modulus, hole mass_x, hole mass_y, hole mass_z, jid, bulk modulus, mu_b, gap tbmbj, epsilon_x tbmbj, epsilon_y tbmbj, epsilon_z tbmbj, mpid, gap opt, structure, composition', 'm2ax': 'formula, a, c, d_mx, d_ma, c11, c12, c13, c33, c44, bulk modulus, shear modulus, elastic modulus', 'phonon_dielectric_mp': 'mpid, eps_electronic, eps_total, last phdos peak, structure, formula', 'piezoelectric_tensor': 'material_id, formula, nsites, point_group, space_group, volume, structure, eij_max, v_max, piezoelectric_tensor, cif, meta, poscar', 'steel_strength': 'formula, c, mn, si, cr, ni, mo, v, n, nb, co, w, al, ti, yield strength, tensile strength, elongation', 'superconductivity2018': 'composition, Tc', 'tholander_nitrides': 'material_id, ht_id, initial_structure, final_structure, E_vasp_per_atom, chemical_system', 'ucsb_thermoelectrics': 'composition, crystallinity, synthesis, spacegroup, rho (ohm.cm), S [muV/K], PF [W/mK^2], zT, kappa [W/mK], sigma [S/cm], T [K], src', 'wolverton_oxides': 'formula, atom a, atom b, lowest distortion, e_form, e_hull, mu_b, vpa, gap pbe, a, b, c, alpha, beta, gamma, e_form oxygen'}

In [61]:
print(dataset_columns.keys())

dict_keys(['boltztrap_mp', 'brgoch_superhard_training', 'castelli_perovskites', 'citrine_thermal_conductivity', 'dielectric_constant', 'double_perovskites_gap', 'double_perovskites_gap_lumo', 'elastic_tensor_2015', 'expt_formation_enthalpy', 'expt_formation_enthalpy_kingsbury', 'expt_gap', 'expt_gap_kingsbury', 'flla', 'glass_binary', 'glass_binary_v2', 'glass_ternary_hipt', 'glass_ternary_landolt', 'heusler_magnetic', 'jarvis_dft_2d', 'jarvis_dft_3d', 'jarvis_ml_dft_training', 'm2ax', 'phonon_dielectric_mp', 'piezoelectric_tensor', 'steel_strength', 'superconductivity2018', 'tholander_nitrides', 'ucsb_thermoelectrics', 'wolverton_oxides'])

In [45]:
df = load_dataset('expt_formation_enthalpy')
df = df.dropna()
print(df.shape)
df.head()
# bandgap_df = load_dataset('expt_gap')
# dieletric_df = load_dataset('matbench_dielectric')
# print('boltzmann_df shape:', boltzmann_df.shape)
# print('bandgap_df shape:', bandgap_df.shape)
# print('dieletric_df shape:', dieletric_df.shape)
# bandgap_df.head()

(601, 8)

,formula,pearson symbol,space group,mpid,oqmdid,e_form expt,e_form mp,e_form oqmd
0,ScAg2,tI6,I4/mmm,mp-1018128,27633.0,-0.2809,-0.302125,-0.307509
1,ScAg,cP2,Pm-3m,mp-11237,10665.0,-0.2715,-0.278754,-0.286917
3,YAg,cP2,Pm-3m,mp-2474,10681.0,-0.2778,-0.336419,-0.343094
5,LaAg,cP2,Pm-3m,mp-1948,10639.0,-0.1752,-0.261738,-0.264895
7,CeAg,cP2,Pm-3m,mp-2756,10361.0,-0.1399,-0.039664,-0.244194